body {
  background: white;
  margin: 0;
  padding: 0; }

ul {
  padding: 0;
  margin: 0;
  list-style: none; }

i {
  margin-right: 5px;
  font-size: 20px; }

header {
  padding: 10px 0; }
  header .container {
    width: 1000px;
    margin: 0 auto; }
  header .logo {
    float: left; }
    header .logo img {
      width: 160px; }
  header .global-nav {
    float: right;
    margin-top: 40px; }
    header .global-nav li {
      display: inline-block;
      margin: 0 30px;
      font-size: 17px; }
    header .global-nav a {
      color: #9F494E;
      font-weight: bold;
      text-decoration: none;
      font-size: 17px; }
  header:after {
    content: "";
    display: block;
    clear: both; }

#index .container {
  width: 1000px;
  margin: 0 auto; }
#index .black-menu {
  background: black;
  padding: 30px 0; }
  #index .black-menu ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
  #index .black-menu a {
    color: white;
    font-weight: bold;
    text-decoration: none; }
  #index .black-menu:after {
    content: "";
    display: block;
    clear: both; }
#index .gray-menu {
  background: #ECECEC;
  padding: 16px 0; }
  #index .gray-menu ul {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
  #index .gray-menu a {
    font-size: 14px;
    color: #954C52;
    font-weight: bold;
    text-decoration: none; }
#index .today-performance {
  background: #fff;
  padding: 50px 0; }
  #index .today-performance .frame {
    border: solid 2px #7B2026;
    border-radius: 10px;
    padding: 30px; }
    #index .today-performance .frame:after {
      content: "";
      display: block;
      clear: both; }
  #index .today-performance .left-info {
    float: left; }
  #index .today-performance .title, #index .today-performance .date {
    color: #7B2026;
    font-weight: bold; }
  #index .today-performance .title {
    font-size: 20px;
    margin-bottom: 20px; }
  #index .today-performance .date {
    font-size: 13px;
    margin-bottom: 10px; }
    #index .today-performance .date span {
      font-size: 32px; }
  #index .today-performance .calender-btn {
    display: block;
    padding: 5px 20px 5px 10px;
    border: none;
    background: #7B2026;
    color: #fff;
    font-size: 12px;
    line-height: 18px;
    text-decoration: none; }
    #index .today-performance .calender-btn:before {
      content: "";
      display: inline-block;
      margin-right: 8px;
      width: 6px;
      height: 6px;
      border-top: solid 2px #fff;
      border-right: solid 2px #fff;
      transform: rotate(45deg); }
#index .news {
  background: #000;
  padding: 30px 0; }
  #index .news h2 {
    color: #fff; }
    #index .news h2 span {
      font-size: 15px; }
  #index .news .news-and-link {
    display: flex;
    flex-direction: row; }
  #index .news .news-list {
    width: 500px; }
    #index .news .news-list li {
      margin-bottom: 24px; }
    #index .news .news-list a {
      color: #fff;
      font-size: 14px;
      text-decoration: none; }
      #index .news .news-list a:hover {
        color: #ccc; }
  #index .news .junre-and-date {
    color: #fff; }
    #index .news .junre-and-date .junre {
      font-size: 12px;
      background: #7B2026;
      padding: 4px 6px;
      margin-right: 5px; }
    #index .news .junre-and-date .date {
      font-size: 14px; }
  #index .news .link-group {
    width: 500px; }
    #index .news .link-group ul {
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      flex-wrap: wrap; }
      #index .news .link-group ul li {
        width: 230px;
        padding: 10px; }
      #index .news .link-group ul img {
        width: 100%; }
      #index .news .link-group ul a:hover {
        opacity: 0.8; }
  #index .news .news-list-link {
    text-align: right; }
    #index .news .news-list-link a {
      font-size: 13px; }
      #index .news .news-list-link a:before {
        content: "";
        display: inline-block;
        width: 0;
        height: 0;
        border: solid 5px transparent;
        border-left: solid 6px #7B2026; }
      #index .news .news-list-link a:hover {
        opacity: 0.8; }
#index .performances-and-events {
  padding-top: 30px; }
  #index .performances-and-events h2 {
    font-size: 28px; }
    #index .performances-and-events h2 span {
      margin-left: 10px;
      font-size: 17px;
      color: #7B2026; }
  #index .performances-and-events ul {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
  #index .performances-and-events li {
    width: 235px;
    margin-bottom: 30px; }
    #index .performances-and-events li .schedule {
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      justify-content: space-between;
      background: #7B2026;
      color: #fff;
      font-size: 12px;
      line-height: 32px; }
      #index .performances-and-events li .schedule span {
        margin: 0 10px; }
    #index .performances-and-events li .description {
      color: #000;
      padding: 5px;
      font-size: 13px; }
  #index .performances-and-events a {
    display: block;
    text-decoration: none; }
    #index .performances-and-events a:hover {
      opacity: 0.8; }
  #index .performances-and-events img {
    display: block;
    width: 100%; }
#index .nagano-promo {
  border-top: solid 1px #ccc; }
  #index .nagano-promo .middle-container {
    width: 720px;
    margin: 0 auto;
    padding: 50px 0 100px 0; }
  #index .nagano-promo ul {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: space-between; }
  #index .nagano-promo a:hover {
    opacity: 0.6; }

#contact .middle-container {
  width: 600px;
  margin: 0 auto;
  padding: 30px 0 100px 0; }
#contact .required-notice {
  font-size: 13px;
  color: #565656; }
#contact .contact-form-table th {
  width: 200px;
  font-size: 13px;
  line-height: 26px;
  text-align: left;
  vertical-align: top; }
#contact .contact-form-table th, #contact .contact-form-table td {
  padding: 20px 0; }
#contact .required {
  color: #f00;
  margin-left: 5px; }
#contact #content {
  width: 400px;
  height: 180px;
  border: solid 1px #aaa; }
#contact .textfield {
  width: 280px;
  height: 24px;
  border: solid 1px #aaa; }
#contact select {
  outline: none;
  text-indent: 0.01px;
  text-overflow: '';
  background: #f5f5f5;
  vertical-align: middle;
  font-size: 13px;
  color: inherit;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  width: 250px;
  line-height: 28px;
  padding-left: 10px;
  border: solid 1px #aaa; }
#contact select option {
  background-color: #fff;
  color: #333; }
#contact small {
  font-size: 11px;
  color: #565656; }
#contact .yubin {
  margin-right: 5px;
  height: 24px;
  font-size: 15px;
  border: solid 1px #aaa; }
#contact #yubin-left {
  width: 45px;
  margin-left: 5px; }
#contact #yubin-right {
  width: 45px; }
#contact .yubin-button {
  line-height: 24px;
  border: solid 1px #B60000;
  background: #EBE9E3;
  color: #B60000;
  font-size: 13px; }
#contact .pref-field-table th, #contact .pref-field-table td {
  padding: 3px 0; }
#contact .pref-field-table th {
  width: 80px;
  font-weight: normal;
  color: #565656; }
#contact .pref-field-table select {
  width: 130px; }
#contact .pref-field-table input {
  width: 280px;
  height: 24px;
  border: solid 1px #aaa; }
#contact .tel-text {
  height: 24px;
  width: 60px;
  margin-right: 5px;
  border: solid 1px #aaa;
  font-size: 15px; }
#contact .confirm-button {
  margin-top: 30px;
  width: 240px;
  line-height: 48px;
  border: solid 1px #B60000;
  background: #EBE9E3;
  color: #B60000;
  font-size: 17px; }
#contact .yubin-button:hover, #contact .confirm-button:hover {
  background: #B60000;
  color: #fff; }

#access .access-map {
  padding: 60px 0;
  text-align: center; }

footer {
  background: #83171D;
  padding: 40px 0 60px 0;
  color: #fff; }
  footer .container {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: row; }
  footer .company-info {
    width: 400px;
    border-right: solid 1px #9D4146; }
  footer .company-data {
    margin: 5px 0 60px 0;
    font-size: 14px;
    line-height: 24px; }
  footer .company-menu {
    font-size: 12px;
    margin-bottom: 6px; }
    footer .company-menu li {
      display: inline;
      margin-right: 10px; }
    footer .company-menu a {
      color: #fff;
      text-decoration: none; }
      footer .company-menu a:hover {
        opacity: 0.8; }
  footer .site {
    font-size: 10px; }
  footer .site-menu {
    width: 570px;
    padding-left: 30px; }
    footer .site-menu #site-menu-table {
      margin-bottom: 30px; }
      footer .site-menu #site-menu-table tr > td:first-child {
        width: 100px; }
      footer .site-menu #site-menu-table td {
        width: 130px; }
      footer .site-menu #site-menu-table a {
        color: #fff;
        font-size: 13px;
        text-decoration: none; }
        footer .site-menu #site-menu-table a:before {
          content: "";
          display: inline-block;
          width: 0;
          height: 0;
          margin: 0 2px 2px 0;
          border: solid 3px transparent;
          border-left: solid 5px #fff; }
        footer .site-menu #site-menu-table a:hover {
          opacity: 0.8; }
    footer .site-menu #media-menu-table td {
      width: 240px; }
    footer .site-menu #media-menu-table a {
      color: #fff;
      font-size: 15px;
      text-decoration: none; }
      footer .site-menu #media-menu-table a:hover {
        opacity: 0.8; }

/*# sourceMappingURL=style.css.map */
